:root{
--main-colour: rgb(53, 181, 240);
}

body{
    position: relative;
}

/************************NAV******************************************/
bg-dark{
background-color: rgba(0, 0, 0, 0.747)!important;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(255, 255, 255);
}

.nav-link{
    padding: 0 7rem;
}

#main-nav {
text-transform: uppercase;
}

#main-nav .navbar-brand{
    font-size: 1.5rem;
}

#main-nav .navbar-brand i{
    color: var(--main-colour);
}

.navbar-dark .navbar-nav .nav-link.active{
    color: var(--main-colour);
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link{
    padding-top: .9rem;
}

/*Nav*/
@media (min-width: 768px){
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: .9rem;
    padding-left: .9rem;
    padding-top: 0;
}
}

/************************Home******************************************/
.home--landing-page{
    background: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.534)), url(img/tlo.jpg) center/cover no-repeat;
    width: 100vw;
    height: 90vh;
}

.home--caption{
    width: 100%;
    position: absolute;
    top: 40%;
    z-index: 3;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.home--caption h1{
    font-size: 4rem;
}

.home--caption h1::first-letter, .home--caption h3::first-letter{
    color: var(--main-colour);
}