body{
    position: relative;
}

/************************NAV******************************************/
bg-dark{
color: rgba(0, 0, 0, 0.747);
}

#main-nav {
font-size: 1.2rem;
}

#main-nav .navbar-brand{
    font-size: 2rem;
}