:root{
--main-colour: rgb(53, 181, 240);
font-size: 14px;
}

body{
    position: relative;
}

section:not(#home){
    padding-top: 70px;
}

/************************NAV******************************************/
.bg-dark {
    background-color: #0a0a0a60!important;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(255, 255, 255);
}

.nav-link{
    padding: 0 7rem;
}

#main-nav {
text-transform: uppercase;
}

#main-nav .navbar-brand{
    font-size: 1.5rem;
}

#main-nav .navbar-brand i{
    color: var(--main-colour);
}

.navbar-dark .navbar-nav .nav-link.active{
    color: var(--main-colour);
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link{
    padding-top: .9rem;
}

/************************Home******************************************/
#home{
    position: relative;
}

.home--landing-page{
    background: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.534)), url(img/tlo.jpg) center/cover no-repeat;
    width: 100vw;
    height: 90vh;
}

.home--caption{
    width: 100%;
    position: absolute;
    top: 40%;
    z-index: 3;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.home--caption h1{
    font-size: 4rem;
}

.home--caption h1::first-letter, .home--caption h3::first-letter{
    color: var(--main-colour);
}

/************************Course******************************************/
#course .btn{
    background-color: var(--main-colour);
}

/************************Feature******************************************/
#feature hr{
    width: 5%;
    border: 2px solid var(--main-colour);
}

#feature i{
    color: var(--main-colour);
    font-size: 2rem;
}

#feature .feature-item h5{
    text-transform: uppercase;
}

/************************Resources******************************************/
#resources{
min-height: 70vh;
}

#resources h5{
    font-size: 1.5rem;
    text-transform: uppercase;
}

#resources i{
    color: var(--main-colour);
    font-size: 4rem;
}

#resources hr{
    width: 5%;
    border: 2px solid var(--main-colour);
}

/************************Clients******************************************/
.client__main-hr{
    width: 5%;
    border: 2px solid var(--main-colour);
}

#client .foto{
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    background-color: var(--main-colour);
}

#client blockquote p::before{
    content: "\f13c";
    font-family: FontAwesome;
}


@media (min-width: 500px){
    :root{
        font-size: 16px;
    }
    }
    
    @media (min-width: 768px){
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .9rem;
        padding-left: .9rem;
        padding-top: 0;
    }
    }