body{
    position: relative;
}

/************************NAV******************************************/
#main-nav {
font-size: 1.2rem;
opacity: 0.8;
}

#main-nav .navbar-brand{
    font-size: 2rem;
}